:root {
  --position: 50;
  --hue: 200;
  --saturation: 50%;
  --foreground-color: hsl(var(--hue), var(--saturation), 75%);
  --background-color: hsl(var(--hue), var(--saturation), 25%);
  --x: 50;
  --y: 50;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  margin: 0;
  background-color: var(--background-color);
}

/* SCORE */
.score {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 7vh;
  color: var(--foreground-color);
}

/* every single direct child */
.score > * {
  flex-grow: 1;
  flex-basis: 0;
  margin: 1vh 0;
  padding: 0 4vw;
  opacity: 0.5;
}

.score > :first-child {
  text-align: right;
  border-right: 2px solid var(--foreground-color);
}

/* PADDLES */
.paddle {
  position: absolute;
  background-color: var(--foreground-color);
  top: calc(var(--position) * 1vh);
  transform: translateY(-50%);
  width: 1vw;
  height: 10vh;
}

.paddle.left {
  left: 1vw;
}

.paddle.right {
  right: 1vw;
}

.ball {
  position: absolute;
  background-color: var(--foreground-color);

  left: calc(var(--x) * 1vw);
  top: calc(var(--y) * 1vh);

  transform: translateY(-50%, -50%);
  width: 2.5vh;
  height: 2.5vh;
  border-radius: 50%;
}
